#projects_container {
    text-align: middle;
    display: flex;
    align-items: center;
    justify-content: center;
}

#project_block_container {
    width: 70%;
}

/* Unordered list */
.project_block ul {
    display: block;
    margin: 0 auto;
    /* Remove default padding from browsers */
    padding: 0;
}

/* List elements */
.project_block li {
    /* Dimensions of each box */
    display: inline-block;
    width: 320px;
    height: 300px;
    /* Box borders */
    border: 1.5px solid black;
    margin-top: 2vw;
    margin-bottom: 2vw;
    margin: 1.5vw;
    /* border-radius: 10px; */
    /* Add a photo to the background of each box */
    background-size: cover;
    background-position: center;
    /* Align each box vertically and horizontally */
    text-align: center;
    align-items: center;
    justify-content: center;
    /* Add a shadow to each box */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
}

#project_block_embedded_architecture {
    background-image: url('../images/wip_vehicle_architecture.png');
}

#project_block_controls_architecture {
    background-image: url('../images/control_system_architecture.png');
}

/* Hyperlink text for each block */
.project_block li a {
    display: flex;
    /* Maintain width and height to keep image as hyperlink */
    width: 320px;
    height: 300px;
    /* Font in each box */
    font-size: 40px;
    word-wrap: break-word;
    color: rgb(252, 251, 251);
    /* Remove formatting from hyperlink */
    text-decoration: none;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* Align text in each box vertically */
    text-align: center;
    justify-content: center;
    padding-top: 100px;
    /* Prevent hyperlink from extending beyond box */
    max-height: 200px;
    max-width: 320px;
    /* Give the box a grey tint */
    background-color: rgba(103, 103, 103, 0.747);
}

/* Hyperlink text for each block when hovering cursor */
.project_block li a:hover {
    /* Make text in each box dissapear when hovering and remove tint */
    opacity: 0;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
} 
