/* Stylization of the boxes was inspired by: https://www.scottsutherlandportfolio.com/
   but no code was copied over. */

.project_block ul {
    display: block;
    margin: 0 auto;
    /* Remove default padding from browsers */
    padding: 0;
}

.project_block li {
    /* Dimensions of each box */
    display: inline-block;
    width: 320px;
    height: 300px;
    margin: 0 2.5vw;
    /* Box borders */
    border: 1.5px solid black;
    /* border-radius: 10px; This will round the box borders if uncommented */
    /* Add a photo to the background of each box */
    background-size: cover;
    background-position: center;
    /* Align each box vertically and horizontally */
    text-align: center;
    align-items: center;
    justify-content: center;
}

#project_block_embedded_architecture {
    background-image: url('../images/wip_vehicle_architecture.png');
}

#project_block_controls_architecture {
    background-image: url('../images/control_system_architecture.png');
}

.project_block li a {
    display: flex;
    /* Maintain width and height to keep image as hyperlink */
    width: 320px;
    height: 300px;
    /* Font in each box */
    font-size: 45px;
    word-wrap: break-word;
    color: rgb(67, 63, 63);
    /* Remove formatting from hyperlink */
    text-decoration: none;
    font-family: Garamond, serif;
    /* Align text in each box vertically */
    text-align: center;
    justify-content: center;
    padding-top: 100px;
    /* Prevent hyperlink from extending beyond box */
    max-height: 200px;
    max-width: 320px;
}

.project_block a:hover {
    /* Make text in each box dissapear when hovering */
    color: rgb(218, 218, 218);
    opacity: 0;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}
